<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>

    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index) { %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link) { %>
        <p class="article-more-link">
          <a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
        </p>
        <% } %>

      <!--walkerdu: add for auto "Read More" -->
      <% } else { %>

        <!-- walkerdu: Table of Contents -->
        <% if (!index && post.toc){ %>
          <div id="toc" class="toc-article">
          <!-- <%- toc(post.content) %> -->
          <%- toc(post.content, {list_number: false}) %>
          </div>
          <div class ="article-entry">
          </div>
        <% } %>
        <!-- walkerdu: Table of Contents end-->

        <% var br = post.content.indexOf('\n') %>
          <% if(br < 0 || !index) { %>
            <%- post.content %>
          <% } else { %>
            <%- post.content.substring(0, br) %>
          <% if (theme.excerpt_link) { %>
            <p class="article-more-link">
              <a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
            </p>
          <% } %>
        <% } %>
      <% } %>
      <!--walkerdu: add for auto "Read More" end -->

    </div>

    <footer class="article-footer">
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link">Share</a>
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">Comments</a>
      <% } %>
      <%- partial('post/tag') %>
    </footer>

  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>

</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
    <!-- 
    -->
    <section id="comments">
      <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </section>

    <!--
    <section id="comments">
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2143067"></script>
    </section>
    -->

    <!--<p><font color='red'>必须登录github帐号才可以查看评论和进行评论</font></p>-->
    <!-- add github comment at 2018-01-04-->
    <!-- 
    <section id="comments">
        <div id="gitmentContainer"></div>
        <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
        <script type="text/javascript" src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
        <script type="text/javascript">
            var gitment = new Gitment({
                owner: 'anonymalias',
                repo: 'blog_comment',
                oauth: {
                client_id: '1b187e9f0a494b34eb67',
                client_secret: 'd4eec56846228f7a9fc86e67a2b02c7f3236ae53',
              },
            })
            gitment.render('gitmentContainer')
        </script>
    </section>
    <section id="comments">
            <img src="https://raw.githubusercontent.com/anonymalias/util_mess/master/walkerdu_wechat_prize.jpg" width="40%" height="40%" alt="" />
    </section>
    -->

<% } %>

